# Backend API Base URL
VITE_API_URL=http://localhost:5000/api

# Optional: Basic Auth credentials for Client if BASIC_AUTH_ENABLED=true on Server
# VITE_BASIC_AUTH_USER=admin
# VITE_BASIC_AUTH_PASS=change-this-password